
opencl_hello_world/build/Debug/opencl_hello_world

*.d

opencl_hello_world/build/opencl_hello_world.build/Debug/opencl_hello_world.build/dgph~

opencl_hello_world/build/opencl_hello_world.build/Debug/opencl_hello_world.build/dgph

*.dia

*.o

*.hmap

*.pbxproj

*.LinkFileList

*.dat

cuda_hello_world/build/Debug/cuda_hello_world

cuda_hello_world/build/cuda_hello_world.build/Debug/cuda_hello_world.build/dgph~

cuda_hello_world/build/cuda_hello_world.build/Debug/cuda_hello_world.build/dgph

*.xcbkptlist

*.xcscheme

*.xcworkspacedata

*.plist

*.xcuserstate

*.dylib
